# Eclipse Workspace
**/.recommenders/**
**/.sonarlint/**
**/.metadata/**
**/Servers/**

# Eclipse Project
**.classpath
**.project
**.settings/

# Intellij
**.idea/
**.iml
**.iws

# Netbeans
nbactions.xml
nb-configuration.xml

# Mac
**.DS_Store

# Allure
**allure-results**

# Test
**test-output**

**local.properties**
**.springBeans
**/target/**
**release.properties